<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Martie · SDSLabs</title>
    <link rel="shortcut icon" href="/images/logo.png">
    <link rel="stylesheet" href="/stylesheets/pure.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="party content" style="background-color:white;">
      <div id="navbar" class="pure-u-1 pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li id="topbar-logo-div"><a href="/"><img id="logo-image" src="/images/logo.png" alt="">Martie</a></li>
          <li id="topbar-url"><a id="partyurl" data-party="<%= urlname %>" href="/party/<%=urlname%>">martie.sdslabs.co.in/<%= urlname %></a></li>
        </ul>
      </div>
      <% if (admin === true) {%>
      <script src="http://www.youtube.com/player_api"> </script>
      <div id="player"></div>
      <% } %>
      <div class="pure-u-1-4 list">
        <h2>QUEUE</h2>
        <ul id="queue" class="admin">
          <% tracks.forEach(function(track){ %>
          <li class="song" data-id="' + el.data('id') + '" data-title="' + el.data('title') + '">
            <% if (admin === true) { %><span class="cancel"><img src="/images/cross.png" alt=""></span><% } %>
            <span class="name"><%= track.split('|')[1] %></span><br>
            <span class="artist"></span>
          </li>            
          <% }) %>
        </ul>
      </div>
      <div class="pure-u-1-4 list">
        <h2>SUGGESTIONS</h2>
        <ul id="queue" class="admin">
          <% tracks.forEach(function(track){ %>
          <li class="song" data-id="' + el.data('id') + '" data-title="' + el.data('title') + '">
            <% if (admin === true) { %><span class="cancel"><img src="/images/plus.png" alt=""></span><% } %>
            <span class="name"><%= track.split('|')[1] %></span><br>
            <span class="artist"></span>
          </li>            
          <% }) %>
        </ul>
      </div>
      <div class="pure-u-1-4 list">
        <h2>SEARCH</h2>
        <input type="text" class="pure-input-1" placeholder="Search" id="party-search">
        <ul id="queue" class="admin">
          <% tracks.forEach(function(track){ %>
          <li class="song" data-id="' + el.data('id') + '" data-title="' + el.data('title') + '">
            <!-- <span class="cancel"><img src="/images/cross.png" alt=""></span> -->
            <span class="name"><%= track.split('|')[1] %></span><br>
            <span class="artist"></span>
          </li>            
          <% }) %>
        </ul>
      </div>
      <div id="footer">
          Team SDSLabs · 2013 · <a href="//github.com/sdslabs/martie">github.com/sdslabs/martie</a>
      </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/imagesLoaded.min.js"></script>
    <script src="/javascripts/masonry.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
<script>
var tracks=<%- tracks=JSON.stringify(tracks) %>
</script>
<script src="/javascripts/party.js">
</script>